:root {
    --default-font: 'Roboto', sans-serif;
    --accent-font: 'Raleway', sans-serif;
    --cl-primary_brand: #4d5ae5;
    --cl-pressed_state: #404bbf;
    --cl-dark: #2e2f42;
    --cl-success: #31d0aa;
    --cl-text: #434455;
    --cl-subtle_text: #8e8f99;
    --cl-accent: #e7e9fc;
    /* --cl-accent: #F4F4FD; */
    /* --cl-accent: rgba(231, 233, 252, 1); */
    --cl-accent: #f4f4fd;
    --cl-light : rgba(244, 244, 253, 1);
    --cl-modal_overlay: #2e2f4266;
    --cl-hero_background: #2e2f42b3;
    --cl-white_background: #ffffff;
    --cl-modal_background: #fcfcfc;
}
/**
|===============================
| Base styles
|===============================
*/
body {
    font-family : "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    text-decoration: none;

    /* Default styles */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
letter-spacing: normal;
line-height: 1.2;
text-decoration: none;
    }
    .link {
        text-decoration: none;
        }
    .list {
        list-style: none;
    }
/* header style */
.header {
font-family: "Roboto", sans-serif; 
size: 56px ;
text-decoration: none;
font-weight: 500 ;
font-size: 16px ;
line-height: 1.5 ;
letter-spacing: 0.02em;
text-decoration: none;
}
.header:hover,
.header:focus {
    color: var(--cl-pressed_state);
}
.nav-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cl-primary_brand);
}
.link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: var(--cl-dark);
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: var(--cl-pressed_state);
}

.heder-logo link {
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 800 ;
line-height: 1.17 ;
letter-spacing: 0.03em ;
text-align: left ;
text-decoration: none ;
text-transform: uppercase ;
color: var(--cl-dark) ;
}
.header-logo-accent {
color: var(--cl-primary_brand) ;
font-family: "Raleway", sans-serif ;
font-size: 18px ;
font-weight: 800 ;
line-height: 1.17 ;
letter-spacing: 0.03em ;
text-align: left ;
text-decoration: none ;
text-transform: uppercase ;
}

/*header-nav-list*/
.header-nav-link {
    text-decoration: none;
    font-size: 16px ;
    color: var(--cl-dark) ;


}
.header-nav-link:hover,
.header-nav-link:focus { 
    color: var(--cl-pressed_state) ;
} 
.header-nav-link:active {
    color: var(--cl-pressed_state);
}

.address-list {
    color: var(--cl-text);
    text-decoration: none;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.address-list:hover,
.address-list:focus {
    color: var(--cl-pressed_state);
}
.address-mail-tel {
    color: var(--cl-text);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none; 
}

/*hero image*/
.hero-img {
    background-color: var(--cl-dark);
}
.title-hero {
    color:#FFFFFF;
    background-color:var(--cl-hero_background);
font-family: "Roboto", sans-serif;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
}
.hero-btn {
    font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.04em;
text-align: left;
line-height: 1.5;
cursor: pointer;
background: var(--cl-primary_brand);
color: var(--cl-white_background);
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--cl-pressed_state);
}

/*section 1*/
.advantages-title{
    visibility:hidden;
}
.advantages-subtitle {
    color: var(--cl-dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.advantages-text {
    color:434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*section 2*/
.title-section-img {
    color:var(--cl-dark);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/*section 3*/
.section-team-foto {
    background-color: var(--cl-light);
}
.section-team {
    color: var(--cl-dark);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}
.team-line {
    background-color: var(--cl-light);
}
.team-info {
    background-color: var(--cl-white_background) ;
}
.team-subtitle {
    color:var(--cl-dark);
    font-size: 20px ;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-text {
    color: var(--cl-text);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*footer*/
.footer{
    background-color: var(--cl-dark);
}
.footer-span-logo{
    color: #F4F4FD;
font-family:  "Raleway", sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: left;
text-decoration: none;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: left;
color: var(--cl-primary_brand);
text-decoration: none;
}
.footer-text {
    color:#F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*portfolio*/
/*filter btn active*/
.btn-filter {
    background: var(--cl-accent);
    color: var(--cl-primary_brand);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px ;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em ;
    cursor: pointer;
}

.btn-filter:hover,
.btn-filter:focus {
    background: var(--cl-pressed_state);
    color: var(--cl-white_background);
}
/*all images*/
.link {
    text-decoration: none;
    background: var(--cl-white_background);

}
.images-subtitle {
    color: var(--cl-dark);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.images-text {
    color: var(--cl-text);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*portfolio end*/