:root {
    --default-font: 'Roboto', sans-serif;
    --accent-font: 'Raleway', sans-serif;
    --cl-primary_brand: rgba(77, 90, 229, 1);
    --cl-pressed_state: rgba(64, 75, 191, 1);
    --cl-dark: rgba(46, 47, 66, 1);
    --cl-success: rgba(49, 208, 170, 1);
    --cl-text: rgba(67, 68, 85, 1);
    --cl-subtle_text: rgba(142, 143, 153, 1);
    --cl-accent: rgba(231, 233, 252, 1);
    /* --cl-accent: #F4F4FD; */
    /* --cl-accent: rgba(231, 233, 252, 1); */
    --cl-accent: #F4F4FD;
    --cl-light : rgba(244, 244, 253, 1);
    --cl-modal_overlay: rgba(46, 47, 66, 0.4);
    --cl-hero_background: rgba(46, 47, 66, 0.7);
    --cl-white_background: rgba(255, 255, 255, 1);
    --cl-modal_background: gba(252, 252, 252, 1);
}
/**
|===============================
| Base styles
|===============================
*/
body {
    font-family : "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    text-decoration: none;

    /* Default styles */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
letter-spacing: normal;
line-height: 1.2;
text-decoration: none;
    }
    .link {
        text-decoration: none;
        }
    .list {
        list-style: none;
    }
/* header style */
header {
font-family: Roboto ;
size: 56px ;
text-decoration: none;
font-weight: 500 ;
font-size: 16px ;
line-height: 1.5 ;
letter-spacing: 0.02em;
text-decoration: none;
}
header:hover,
header:focus {
    color: var(--cl-pressed_state);
}

.heder-logo {
color:var(--cl-text);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
text-decoration: none;
text-transform: uppercase;
}
.header-logo-accent {
color: var(--cl-primary_brand);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
text-decoration: none;
text-transform: uppercase;
}

/*header-nav-list*/
.header-nav-link:active {
    color: var(--cl-pressed_state);
    text-decoration: none;
}
.header-nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: var(--cl-dark);
}
.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--cl-pressed_state);
}
.address-list {
    color:404BBF;
    text-decoration: none;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.address-list:hover,
.address-list:focus {
    color: var(--cl-pressed_state);
}
.address-mail-tel {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-mail-tel:hover,
.address-mail-tel:focus {
    color: var(--cl-pressed_state);
}

/*hero image*/
.hero-img {
    background-color: var(--cl-hero_background);
}
.title-hero {
    color:#FFFFFF;
    background-color:var(--cl-hero_background);
font-family: "Roboto", sans-serif;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
}
.hero-btn {
    font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.04em;
text-align: left;
line-height: 1.5;
cursor: pointer;
background: var(--cl-primary_brand);
color: var(--cl-white_background);
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--cl-pressed_state);
}

/*section 1*/
.advantages-title{
    visibility:hidden;
}
.advantages-subtitle {
    color: var(--cl-dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.advantages-text {
    color:434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*section 2*/
.title-section-img {
    color:var(--cl-dark);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/*section 3*/
.section-team-foto {
    background-color: #F4F4FD;
}
.section-team{
    background-color: var(--cl-dark);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}
.team-line {
    background-color: var(--cl-white_background);
}
.team-info {
    background-color: #FFFFFF ;
}
.team-subtitle {
    color:var(--cl-text);
    font-size: 20px ;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-text {
    color: var(--cl-subtle_text);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*footer*/
.footer{
    background-color: var(--cl-dark);
}
.footer-span-logo{
    color: #F4F4FD;
font-family:  "Raleway", sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: left;
text-decoration: none;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-align: left;
color: var(--cl-primary_brand);
text-decoration: none;
}
.footer-text {
    color:#F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*portfolio*/
/*filter btn active*/
.btn-filter {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--cl-accent);
    background-color: var(--cl-accent #F4F4FD);
    cursor: pointer ;
}
.all-btn-filter {
    color: var(#D9D9D9);
    background-color: var(#404BBF);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
/*all images*/
.images-link {
    text-decoration: none;

}
.images-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2 ;
    letter-spacing: 0.02em;
    color: var(2e2f42);
}
.images-text {
    font-family: "Roboto" sans-serif;
    font-size: 16px ;
    line-height: 1.5 ;
    letter-spacing: 0.02em;
    color: var(#434455)
}


.btn-filter {
    background: var(--cl-accent);

    color: var(--cl-primary_brand);
    text-align: center;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.all-btn-filter {
    background: var(--cl-pressed_state);
    color: var(--cl-white_background);   
}
.images-list {
    background: var(--cl-white_background);
}
.images-subtitle {
    color: var(--cl-dark);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; 
}
.images-text {
    color: var(--cl-text);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*portfolio end*/